services:

  # 1. APPLICATION NODE.JS
  app:
    build: .
    ports:
      - "${PORT_APP}:3000"
    environment:
      # PostgreSQL (réseau Docker interne)
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=${POSTGRES_USER}
      - DB_PASS=${POSTGRES_PASS}
      - DB_NAME=${POSTGRES_NAME}

      # Redis (réseau Docker interne)
      - REDIS_HOST=redis
      - REDIS_PORT=6379

    depends_on:
      - postgres
      - redis
    networks:
      - app-network
    volumes:
      - .:/app

  # 2. POSTGRESQL
  postgres:
    image: postgres:15-alpine
    container_name: postgresql
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASS}
      - POSTGRES_DB=${POSTGRES_NAME}
    ports:
      - "${DB_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - app-network
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # 3. REDIS
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    restart: always
    networks:
      - app-network

  # 4. REDIS COMMANDER
  redis-commander:
    image: rediscommander/redis-commander:latest
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "${PORT_REDIS}:8081"
    depends_on:
      - redis
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  redis_data:
  postgres_data:
